<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.demo.mapper.ReviewMapper">

	<resultMap id="ReviewMap" type="Review">
		<id property="rId" column="r_id"/>
		<result property="rContent" column="r_content"/>
		<result property="rScore" column="r_score"/>
		<result property="rWriter" column="r_writer"/>
		<result property="pId" column="p_id"/>
		<result property="uId" column="u_id"/>
		<result property="rDatetime" column="r_datetime"/>

		<association property="product" javaType="Product">
			<id property="pId" column="p_id"/>
			<result property="pName" column="p_name"/>
			<result property="pImgpath" column="p_imgpath"/>
			<result property="pSeller" column="p_seller"/>
		</association>
	</resultMap>
	
	<!-- 리뷰 작성 -->
	<insert id="insertReview" parameterType="Review">
		INSERT INTO review (r_id, r_content, r_score, r_writer, p_id, u_id)
		VALUES (#{rId}, #{rContent}, #{rScore}, #{rWriter}, #{pId}, #{uId})
	</insert>
	
	<!-- 상품 리뷰 조회 -->
	<select id="ListReviewByPid" parameterType="int" resultMap="ReviewMap">
		SELECT  *
		FROM	review
		WHERE	p_id = #{pId}
	</select>
	
	<!-- 개인 리뷰 가져오기 -->
	<select id="getReviewByRid" parameterType="int" resultMap="ReviewMap">
		SELECT	*
		FROM	review
		WHERE	r_id = #{rId}
	</select>

	<!-- 개인 리뷰 조회 -->
	<select id="getReviewsByUid" parameterType="String" resultMap="ReviewMap">
		SELECT	r.*, p.p_name, p.p_imgpath, p.p_seller
		FROM	review r
		JOIN	product p ON r.p_id = p.p_id
		WHERE	r.u_id = #{uId}
		ORDER BY r.r_datetime DESC
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReviewByRid" parameterType="int">
		DELETE FROM	review
		WHERE r_id = #{rId}
	</delete>
	
	<!-- 댓글 전제 삭제 (상품자체가 삭제되었을 경우) -->
	<delete id="deleteReviewByPid" parameterType="int">
		DELETE FROM review
		WHERE p_id = #{pId}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="updateReview" parameterType="Review">
		UPDATE 	review
		SET		r_content = #{rContent},
				r_score = #{rScore},
				r_datetime = NOW()
		WHERE	r_id = #{rId}
	</update>

	<!-- 사용자와 상품에 대한 리뷰 조회 -->
	<select id="getReviewByUserAndProduct" resultType="Review">
		SELECT *
		FROM review
		WHERE u_id = #{uId} AND p_id = #{pId}
	</select>

</mapper>